html{ 
	height: 100%; 
}

body{ 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#map-canvas{ 
	height: 100%; 
}

#panel{
	position: absolute;
	top:5px;
	z-index: 5;
}

#panel select{
	cursor: pointer;
	font-size: 11px;
}

#panel select option{
	cursor: pointer;
}

#maps_info .addr{
	margin-top: 10px;
}


/* Image Slide */

.fadein { position:relative; width:200px; height:200px; }
.fadein img { position:absolute; left:0; top:0; }

/*.slides {
    padding: 0;
    width: 270px;
    height: 180px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 270px;
    height: 180px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 80px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 180px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }


.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }
*/

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.find_geo{
    margin: 10px 5px 5px 5px;
    float: right;
    cursor: pointer;
    padding: 5px 10px;
    background: #4b4b4b;
    color: #fff;
}